<div id="<%= dom_id physician %>" class="d-flex flex-column">
  <div>
    <b>Name:</b>&nbsp;<%= physician.name%>
  </div>
  <div>
    <b>Email:</b>&nbsp;<%=physician.email%>
  </div>
  <div>
    <b>Unique ID:</b>&nbsp;<%=physician.uniq_id%>
  </div>
</div>
