<div id="<%= dom_id industry %>">
  <p>
    <strong>Name:</strong>
    <%= industry.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= industry.email %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= industry.registration_number %>
  </p>

</div>
