<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-between align-items-center">
  <div class="card p-5">
    <%= render @industry %>
    <div>
      <b>Sectors</b>
      <% @industry.sectors.each do |sector|%>
        <%= sector.name%> |
      <% end %>
    </div>
    <div>
    </div>
  </div>
</div>
